.weather-hero {
  position: relative;
  height: 70vh; /* Full screen */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem; /* make room for the navbar */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* subtle bottom shadow */
}


.weather-hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.weather-cards-section {
  width: 100vw; /* Full width of the screen */
  margin-left: calc(-50vw + 50%); /* Counteract root centering */
  background: #cbd6e0;
  padding: 2rem 1rem;
}